<h2 class="page-heading">Users</h2>
<div class="span3 pull-right text-center" style="margin-bottom:10px; margin-right:2.7%;">
	<button id="add-new-user" class="btn btn-primary font-family" style="width: 120px; color:white;" >Add User</button>
</div>
<table id="users-grid" class="display" data-source="<%= users_index_url(format: "json") %>" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="text-center">Full Name</th>
			<th class="text-center">Email Address</th>
			<th class="text-center">Mobile Number</th>
			<th class="text-center">Role</th>
			<th class="text-center">Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<%= render 'Add_New_User' %>
<%= render 'shared/confirmation_box' %>