<h2 class="page-heading">Users</h2>

<table id="users_grid" class="display">
	<thead>
		<tr>
			<th>Full Name</th>
			<th> Email Address</th>
			<th>Phone Number</th>
			<th>Role</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		<% @userRoles.each do |userRole| %>
			<tr>
				<td> <%= userRole.user ? userRole.user.last_name + ',' + userRole.user.first_name : '' %> </td>
				<td> <%= userRole.user ? userRole.user.email_address : '' %> </td>
				<td> <%= userRole.user ? userRole.user.mobile_number : '' %> </td> 

				<td> Role </td>
				<td> link action</td>
			</tr>

		<% end %>
	</tbody>
</table>

<script type="text/javascript">

	$(document).ready(function() {  
  	if(!$( "#users_grid" ).hasClass("dataTable")) {
  		$('#users_grid').dataTable({
		  	sPaginationType: "full_numbers",
		  	bJQueryUI: true
		})		
	  	$('#users_grid_wrapper').addClass('datatable-format')
	  }	
   })
	
</script>