<div id="delete-confirmation-modal" class="modal fade" aria-labelledby="delete-confirmation-modal-title" aria-hidden="false" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">				
				<h3 class="delete-confirmation-modal-title text-center"></h3>
			</div>
			<div class="modal-body">			
				<h4 id="delete-confirmation-form" class="form-horizontal text-center"></h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn pull-left" data-dismiss="modal">Close</button>
				<button type="button" id="btn-delete-confirmation" class="btn btn-primary">Confirm</button>
				<div id="delete-confirm-modal-message" class="flash-message"></div>
			</div>
		</div>
	</div>
</div>