<div id="forgot-password-modal" class="modal fade" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">				
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h4 class="modal-title">Forgot Password</h4>
			</div>
			<div class="modal-body">			
			<form id="forgot-password-form"> 
				<div class="container" style="width: 50%;">
					<div class="form-group">
						<input type="textbox" id="email_address" name="email_address" class="form-control textbox-format" placeholder="Email Address" />
					</div>
				</div>
			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				<button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
				<div id="forgot-password-form-message" class="flash-message"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
$(document).ready(function() {
	$('#email_address').on('keypress', function(e) {
    	if (e.which == 13) {	//if enter key pressed        	
        	return false;
    	}
    });
    
	$('#btn-submit').click(function() {
		$('#forgot-password-form-message').empty();
		var email = $('#email_address').val();

		if(email == null || email == "") {
			$('#forgot-password-form-message').html('Please Enter Email Address');
		}
		else if(!emailRegex(email)) {
			$('#forgot-password-form-message').html('Email Address format is not valid');
		}
		else {
			$.ajax({
				url: "/home/forgot_password",
				type: "POST",
				data: { 'email_address': email },
				dataType: "json"
			}).done(function(resp){
				if(resp.Error) {
					$('#forgot-password-form-message').html('Error Occured...');
				}
				else {
					if(resp) {
						$('#forgot-password-form-message').html('Mail has been sent successfully');
						setTimeout(function() {
							$('#forgot-password-modal').modal('hide');
						},3000)	
					}
					else {
						$('#forgot-password-form-message').html('Invalid Email Address');
					}									
				}
			});			
		}
	});
});

</script>