<h2 style="text-align: center;font-family: sans-serif;">Change Password</h2>
<br>
<div style="text-align: center;>
	<form action="/home/change_password" type="post">
		
		<input type="password" id="current_password" name="current_password", placeholder="Current Password", style="width: 15%;height: 20px;"> <br><br>
		<input type="password" id="new_password" name="new_password", placeholder="New Password", style="width: 15%;height: 20px;"> <br><br>
		<input type="password" id="confirm_password" name="confirm_password", placeholder="Confirm Password", style="width: 15%;height: 20px;"> <br><br>
		<br>

		<input type="button" id="cancel" name="cancel" value="Cancel", style="width: 5%;height: 25px;"> &nbsp;&nbsp; 
		<input type="submit" id="confirm" name="confirm" value="Confirm", style="width: 5%;height: 25px;">		
	</form>
</div>