<h2 style="text-align: center;font-family: sans-serif;">Forgot Password</h2>
<br>
<div style="text-align: center;>
	<%= form_for(:User, url: home_forgot_password_path) do |f| %>
		
		<%= f.text_field :email_address, placeholder: "Email", style: "width: 15%;height: 20px;" %>
		<br><br>
		
		<%= f.submit "Cancel", style: "width: 5%;height: 25px;"%> &nbsp;&nbsp;	
		<%= f.submit "Confirm", style: "width: 5%;height: 25px;"%>		
		
	<% end %>
</div>