<div class="container">
	<br><br>
	<%= image_tag("home.jpg",style: "margin-left: 1%;") %>
	<div class="pull-right font-family" style="width: 35%;margin-right: 2%;margin-top: -50px;color: cadetblue;">
		<p style="font-size: 50px;">
			<i>
			Library Management System mainly focus on basic operations in a library like adding new member, new books, updating new information, searching books and members, and facility to borrow and return books.
		</i>
		</p>
	</div>
</div>