<div class="container">
	<br><br>
	<%= image_tag("home.jpg",style: "margin-left: 3%;") %>
	<div class="pull-right font-family" style="width: 40%;margin-right: 5%;margin-top: 30px;color: cadetblue;">
		<p style="font-size: 50px;margin-left: 10px;">
			<i>
			Library Management System mainly focus on basic operations in a library like adding new member, new books, updating new information, searching books and members, and facility to borrow and return books.
		</i>
		</p>
	</div>
</div>