<div id="book-subscribe-modal" class="modal fade" aria-labelledby="book-subscribe-modal-title" aria-hidden="false" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">				
				<h3 class="book-subscribe-modal-title text-center"></h3>
			</div>
			<div class="modal-body">			
				<h4 id="book-subscribe-form" class="form-horizontal text-center"></h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn pull-left" data-dismiss="modal">Close</button>
				<button type="button" id="btn-book-subscribe" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div>