<h2 style="text-align: center;font-family: sans-serif;">Activity Logs</h2>
<table id="activity_logs_grid" class="display">
	<thead>
		<tr>
			<th>Book Name</th>
			<th>Description</th>
			<th>Updated Date</th>
		</tr>
	</thead>
	<tbody>
		<% @logs.each do |log| %>
		<tr>
			<td><%= log.book_name %></td>
			<td><%= log.description %></td>
			<td><%= log.updated_date.strftime("%b %e, %Y") %></td>
		</tr> <br>
		<% end %>
	</tbody>	
</table>
	
<script type="text/javascript">

  $(document).ready(function() {  
	  $('#activity_logs_grid').dataTable({
	  	sPaginationType: "full_numbers",
	  	bJQueryUI: true
	  })

	  //$('#activity_logs_grid_wrapper').addClass('datatable-format')
   })

</script>