<h2 class="page-heading">Book Management</h2>
<div class="span3 pull-right text-center" style="margin-bottom:10px; margin-right:2.7%;">
	<button id="add-new-book" class="btn btn-primary font-family" style="width: 120px; color:white;" >Add Book</button>
</div>
<table id="book-management-grid" class="display" data-source="<%= books_index_url(format: "json") %>" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>User Id</th>
            <th class="text-center" >Book Name</th>
            <th class="text-center" >Picture</th>
            <th class="text-center" >Description</th>
            <th class="text-center" >Book Status</th>
            <th class="text-center" >Borrowed By</th>
            <th class="text-center" >Borrowed Date</th>
            <th class="text-center" >Due Date</th>
            <th class="text-center" >Action</th>
            <th >Author</th>
            <th >Edition</th>
            <th >Publication Name</th>
            <th >Publication Year</th>
        </tr>
    </thead>
    <tbody>
    </tbody>    
</table>

<%= render 'Add_New_Book' %>
<%= render 'shared/confirmation_box' %>
<%= render 'book_subscribe' %>