/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * provides jqgrid jquery plugin from gem 'jqgrid-jquery-rails':
 *
 *= require_self
 *= require jquery-ui
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */
.container { width: 100%; }

.ul_class {
	list-style-type: none;
}

.li_class{
	display: inline-block;
	margin: 10px 10px;
}

.button-link {
    padding: 10px 15px;
    background: #4caac4;
    color: #FFF;
    text-decoration: none;
    height: 21px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.font-family {
  font-family: sans-serif;
}

.flash-message {
    text-align: center;
    font-family: sans-serif;
    color: brown;
    font-weight: bold;
}

.datatable-format {
    width: 90%;
    margin-left: 5%;
    font-family: sans-serif;
}

.page-heading {
    text-align: center;
    font-family: sans-serif;
}

.textbox-format {
  width: 15%;
  height: 20px;
}

.button-format {
  width: 5%;
  height: 25px;
}