.ul_class {
	list-style-type: none;
}

.li_class{
	display: inline-block;
	margin: 10px 10px;
}

.button-link {
    padding: 10px 15px;
    background: #4caac4;
    color: #FFF;
    text-decoration: none;
    height: 21px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.font-family {
  font-family: sans-serif;
}

.flash-message {
    text-align: center;
    font-family: sans-serif;
    color: brown;
    font-weight: bold;
}

.datatable-format {
    width: 90%;
    margin-left: 5%;
    font-family: sans-serif;
}

.page-heading {
    text-align: center;
    font-family: sans-serif;
}

.textbox-format {
  width: 15%;
  height: 20px;
}

.button-format {
  width: 5%;
  height: 25px;
}

.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 2px !important ;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}